table {
	
	border-collapse: collapse;
}



td {
	text-align: center;
	width: 150px;
	height: 150px;	
}

.middleColumn {
	border-left: 1px double;
	border-right: 1px double;

}

img {

	width: 150px;
	height: 150px;
}
#resetTicTacToe, #result  {
	
	display: none;	
	font-size: 200%
}

#middleRow {
	
	border-top: 1px double;
	border-bottom: 1px double;
}


	
	
