
table {
	
	border-collapse: collapse;
}

#middleRow {
	
	border-top: 1px double;
	border-bottom: 1px double;
}

td {
	text-align: center;
	width: 30px;
	height: 30px;	
}

.middleColumn {
	border-left: 1px double;
	border-right: 1px double;

}

#resetTicTacToe  {
	
	display: none;	
	font-size: 50%
}
